.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  max-width: 700px;
  height: 450px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 128px;
  width: 128px;
  margin-right: 10px;
  display: block;
}

.Weather .temperature {
  font-weight: bold;
  color: whitesmoke;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
}

.degreeClickers {
  font-size: 20px;
}

button {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  padding: 10px;
  width: 300px;
}

.btn {
  border-radius: 2px;
  color: #fff;
  height: 44px;
}
